*{
         margin: 0;
         padding: 0;
         box-sizing: border-box;   
        }
        body{
        background-color:cornsilk;
        font-family: Verdana, Geneva, Tahoma, sans-serif;    
        }
        header nav{
        display: flex;
        background-color: orange;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 5px;
        top: 0;
        right: 0;
        position: fixed;
        left: 0;
        z-index: 1000;   
        }
        nav ul{
        list-style: none;
        display: flex;
        gap: 15px;    
        }
        nav ul li a{
        text-decoration: none;
        color: white;
        font-weight: bold;

        }
        nav ul li a:hover{
        color:wheat;
        cursor: pointer; 
        }
        .logo{
        color: white;
        font-weight: bolder;
        font-size: large;
        }
        .hamburger3{
        display: none; 
        flex-direction: column;
        gap: 5px;   
        }
        .hamburger3 span{
        height: 3px;
        width: 25px;
        background-color: white;
        }
        .projects-listing{
        margin-top: 60px; 
        display: grid;
        grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
        gap: 20px;  
        justify-items: center;
        }
        .main-project{
         background-color:none;
         min-height: 100vh;
        }
        .project-box{
        background-color:orange;
        padding: 20px;
        border: 2px solid gray;
        border-radius: 15px;
        max-width: 300px;
        width: 90%;
        cursor: pointer;
        }
        .project-box h2,p{
        color: white;    
        }
        .project-box:hover{
        transform: scale(1.05);     
        }
        @media(max-width:768px){
        .navbar{
        position: absolute;
        top: 60px;
        right: 0;
        text-align: right;
        display: none;
        flex-direction: column;
        background-color: orange;
        padding: 5px;
        }
        .hamburger3{
         display: flex;   
        }
        .navbar.show{
        display: flex;    
        }
        }