*{
         margin: 0;
         padding: 0;
         box-sizing: border-box;   
        }
        body{
        background-color:cornsilk;
        font-family: Verdana, Geneva, Tahoma, sans-serif;    
        }
        header nav{
        display: flex;
        background-color: orange;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 5px;
        top: 0;
        right: 0;
        position: fixed;
        left: 0;
        z-index: 1000;   
        }
        nav ul{
        list-style: none;
        display: flex;
        gap: 15px;    
        }
        nav ul li a{
        text-decoration: none;
        color: white;
        font-weight: bold;

        }
        nav ul li a:hover{
        color:wheat;
        cursor: pointer; 
        }
        .logo{
        color: white;
        font-weight: bolder;
        font-size: large;
        }
        main{
        margin-top: 60px;    
        }
        
        .skill-listing{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        width: 80%;
        margin: auto; 
        height: 100vh; 
        }
        .skill{
         border: 2px solid #ccc;
         border-radius: 8px;
         display: flex;
         align-items: center;
         justify-content: center; 
         font-size: 1em; 
         background-color: orange;
         transition: all 0.3s ease;
         margin-top:10px;
         color: #fff; 
         font-weight: bold;
         text-shadow: 1px 1px 4px rgba(0, 0,0,0.3); 
        }
        .skill:hover{
        transform: scale(1.05); 
        border-color: #ff9800;
        box-shadow: 0 4px 12px rgba(0, 0,0,0.1);
        cursor: pointer;   
        }
        .hamburger2{
        display: none; 
        flex-direction: column;
        margin-right: 5px;
        cursor: pointer;
        gap: 5px;   
        }
        .hamburger2 span{
        width:25px ;
        height: 3px;
        background-color: white;    
        }

        @media(max-width:768px){
        .navbar{
        position:absolute;
        flex-direction: column;
        text-align: right;
        right: 0;
        top:60px;
        background-color: orange;
        margin-right: 10px;
        padding: 5px;
        display: none;
        }
        .hamburger2{
         display: flex;
        }
        .navbar.show{
        display: flex;    
        }    
        }